.myhead{
    background-color: pink;
    margin: 0;
    padding: 1rem;
    color: turquoise;
    text-transform: uppercase;
}

.nav-btn{
    padding: .8rem;
    background-color: pink;
}

.btn1{
    font-size: 1.6rem;
    outline: none;
    /* border-radius: 50rem; */
    border: 2px solid orangered;
    width: 12rem;
    margin-left: 2rem;
    text-transform: uppercase;
    padding: .4rem;
}

.btn1:hover{
    background-color: turquoise;
    color: white;
}

.shop-heading{
    font-size: 2.5rem;
    text-transform: uppercase;
    background-color: grey;
    margin: 0;
    padding: 2rem;
    color: lightblue;
}